In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [11]:
df = pd.read_csv('green_tripdata_2019-10.csv.gz',nrows = 100)

In [19]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [21]:
print (pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [22]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv.gz', iterator = True, chunksize=100000)

In [23]:
df = next(df_iter)

In [25]:
len(df)

100000

In [26]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [27]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [31]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 4.97 s, sys: 191 ms, total: 5.16 s
Wall time: 8.32 s

1000

In [32]:
from time import time

In [40]:
while True:
    try:
        t_start = time()
        
        df = next(df_iter)
        
        # Convert string datetime to pandas datetime after reading
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
        
        t_end = time()
        print('inserted another chunk, took %.3f second' % (t_end - t_start))
        
    except StopIteration:
        print("Finished ingesting data into the database")
        break

Finished ingesting data into the database

In [41]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [42]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [44]:
try:
    with engine.begin() as connection:
        df_zones.to_sql(name='zones', con=connection, if_exists='replace', index=False)
    print("Data successfully loaded into PostgreSQL!")
except Exception as e:
    print(f"Error occurred: {e}")

Data successfully loaded into PostgreSQL!